@import "tailwindcss";

@theme {
    --font-protest: "Protest Strike", sans-serif;
    --font-inter: "Inter", sans-serif;
    --font-inter-blackItalic: "Inter Black Italic", sans-serif;
    --color-secondPrimary: #EAB3B3;
    --color-primary: #E38E8E;
    --color-thirdPrimary: #D77777;
    --color-buttonMain: #2C2C2C;
    --color-buttonSecond: #757575;
    --color-buttonThird: #F5F5F5;
    --animate-scrollX: scrollX 15s linear infinite;

    /* product color */
    --color-productDarkGray: #4B4B4B;
    --color-productPurple: #800080;
    --color-productBlue: #007BFF;
    --color-productLightGreen: #90EE90;
    --color-productLightGray: #D3D3D3;
    --color-productTaupe: #8B8589;
    --color-productBrown: #8B4513;
    --color-productDarkGreen: #006400;
    --color-productWhite: #FFFFFF;
    --color-productGray: #808080;
    --color-productPink: #FFC0CB;
    --color-productCream: #F5EBDD;
}

@font-face {
    font-family: 'Protest Strike';
    font-style: normal;
    font-weight: 600;
    src: url('/src/assets/fonts/ProtestStrike-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('/src/assets/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter Black Italic';
    font-style: italic;
    font-weight: 900;
    src: url('/src/assets/fonts/Inter_18pt-BlackItalic.ttf') format('truetype');
}


@keyframes scrollX {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

@layer utilities {

    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}